/*trial.scss*/

$font-stack: 'Helvetica', 'Gill-Sans', sans-serif;
$primary-color: #020202;
$link-hover: #bb0000;

body{
  background-color: green;
  font: $font-stack;
  color: $primary-color;
}
a:hover{
  color: $link-hover;
}
